*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;	
}

.container{
	width: 800px;
	margin: 0px auto;
}

h1{
	font-size: 40px;
	font-weight: bold;
	color: darkgreen;
	margin-bottom: 8px;
}

h2{
	color: darkorange;
	font-size: 23px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

body{
	background-image: url(images/background.webp);
	background-repeat: no-repeat;
	background-size: 1800px 1700px;
	background-position: center;
	text-align: center;
	font-family: 'Abel', sans-serif;
	font-family: 'IBM Plex Sans Arabic', sans-serif;
	font-size: 30px;
}

.picture{
	width: 300px;
	border-radius: 70%;
	box-shadow: 1px 1px 0.5px darkgreen;
}


.favmovie{
	background: darkgreen;
	color: whitesmoke;
	font-size: 18px;
	text-decoration: none;
	padding: 10px 10px;
	margin: 0px;
	border-radius: 10px

}

.favmovie:hover{
	background: darkorange;
	color: white;
	border-radius: 10px
}

p{
	margin: 20px 10px;
	font-size: 20px;
	margin-bottom: 30px;
}

ul{
	color: darkgreen;
	padding-left: 0px;
	list-style: none;
}

li{
	color: darkgreen;
	display: inline;
	padding: 10px;
}

/*.button{
	color: darkgreen;
	background: darkgreen;
	font-size: 18px;
	}*/


.card-white{
	background: white;
	padding: 40px;
	margin: 50px auto;
	box-shadow: 0px 10px 9px rgba(0,0,0,0.1);
	border-radius: 40px;
	/*width: 800px;*/

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}


i{
	font-size: 40px;
	width: 50px;
	height: 50px;
	color: darkgreen;
	background: white;
	
}

i:hover{
	color: darkorange;
	width: 50px;
	height: 50px;
	text-align: center;
}

.roxie{
	width: 150px;
	border-radius: 10px;
	margin-bottom: 16px;
}

a{
	padding: 15px 15px;
}

@media (max-width: 720px) {
	.container {
		width: 500px;
	}
}

@media (max-width: 550px) {
	.container{
		width: 300px;
	}
	.picture{
		width: 150px
	}
	.favmovie{
		width: 1px;
	}
}